@tailwind base;
@tailwind components;
@tailwind utilities;


.slider {
  position: absolute;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}


/* .slider {
  position: absolute;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
} */

.slide-in {
  animation: slide-in 0.5s forwards,fadeIn 0s 0.5s normal forwards;
  -webkit-animation: slide-in 0.5s forwards,fadeIn 0s 0.5s normal forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards, fadeOut 0s 0.5s normal forwards;
  -webkit-animation: slide-out 0.5s forwards, fadeOut 0s 0.5s normal forwards;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

@keyframes slide-in {
  100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateX(0%); }
}
@keyframes slide-out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-100%); }

  
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}



.text-shadow {
  /* color: black; */
  text-shadow:
   -0.5px -0.5px 0 #2b2b2b,  
   0.5px -0.5px 0 #2b2b2b,
    -0.5px 0.5px 0 #2b2b2b,
    0.5px 0.5px 0 #2b2b2b;
}
/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.theme-gray{
  color: #2b2b2b
}

